.font {
  text-align: center;
  font-family: Georgia;
  background: #AEB4A9;
}
h1.font {
  text-align: center;
  font-family: Georgia;
  background:#a8dadc;
}
p.font {
  text-align: center;
  font-family: Georgia;
  background:#6d6875;
  color: white;
}
.centered1 {
  float: left;
  width: 50%;
  height: auto;
  padding-right: 2%;
}
.centered {
  text-align: center;
  text-shadow: red;
  background: black;
  color: white;
  font-family: cursive;
}
.box1 {
  width:32%;
  height: auto;
  border-style: solid;
  border-color: #AEB4A9;
  margin: left;
  margin-top: 3%;
  padding: 100px;
  box-sizing: border-box;
}
.box2 {
  width:40%;
  height: auto;
  border-style: solid;
  border-color: #AEB4A9;
  margin: right;
  margin-right: 3%;
  padding: 20px;
  float: right;
  font-family: cursive;
  background: gray;
  color: white;
}
.h3 {
  font: bolder;
  font-style: italic;
  display: block;
  font: bold;
  color: black;
  background: #06d6a0;
  text-align: center;
}
.sidebar {
  width: 22%;
  margin: auto;
  float:left;
  padding-left: 5px;
}
.sidebar1 {
  width: 22%;
  margin: auto;
  margin-top: 0px;
  float:right;
  padding-left: 0px;
}
.bold {
  text-align: center;
  color: black;
  text-decoration: wavy;
  font-family: cursive;
}
.text {
  text-align: center;
  font-family: Georgia;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-left: 2%;
  font-size: large;
}
.important {
  font-style: italic;
  display: block;
  font: bold;
}