.font {
  text-align: center;
  font-family: Georgia;
  background: #8e9aaf;
  margin-top: 0px;
}
.font1 {
  text-align: center;
  font-family: fantasy;
  color: black;
  background: #6c757d;
  font: bold;
  border-radius: 60%;
}
ul.font1 {
  text-align: left;
  font-family: fantasy;
  color: #06d6a0;
  background: #6c757d;
}
h1.font {
  text-align: center;
  font-family: Georgia;
  background:#a8dadc;
}
p.font {
  text-align: center;
  font-family: Georgia;
  background:#6d6875;
  color: white;
  border-radius: 50%;
}
.centered1 {
  float: left;
  width: 50%;
  height: auto;
  padding-right: 2%;
  margin-top: 4px;
}
.centered {
  text-align: center;
  text-shadow: red;
  background: black;
  color: white;
  font-family: cursive;
}
.box1 {
  width:32%;
  height: auto;
  border-style: solid;
  border-color: #AEB4A9;
  margin: left;
  margin-top: 3%;
  padding: 100px;
  box-sizing: border-box;
}
.box2 {
  width:40%;
  height: auto;
  border-style: solid;
  border-color: #AEB4A9;
  margin: right;
  margin-right: 3%;
  margin-bottom: 5%;
  padding: 10px;
  float: right;
  font-family: cursive;
  background-color: gray;
  color: white;
  border-radius: 5%;
}
.h3 {
  font: bolder;
  font-family: fantasy;
  display: block;
  color: black;
  background: #06d6a0;
  text-align: center;
  border-radius: 50%;
}
.sidebar {
  width: 22%;
  margin: auto;
  float:left;
  padding-left: 5px;
}
.sidebar1 {
  width: 22%;
  margin: auto;
  margin-top: -30px;
  float:right;
  padding-left: 0px;
}
.bold {
  text-align: center;
  color: black;
  text-decoration: wavy;
  font-family: cursive;
  border-radius: 50%;
  background-color: #5cefff;
}
.text {
  text-align: center;
  font-family: Georgia;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-left: 2%;
  font-size: large;
}
.important {
  font-style: italic;
  display: block;
  font: bold;
}
.box3 {
  width: 20%;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 3%;
  margin-right: 2%;
  float: left;
  border-style: dotted;
  border-color: #06d6a0;
  box-sizing: border-box;
  background: #343a40;
  border-radius: 20%
}
.box4 {
  width: 20%;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 2%;
  margin-right: 3%;
  float: left;
  border-style: dotted;
  border-color: #06d6a0;
  box-sizing: border-box;
  background: #343a40;
  border-radius: 20%
}
.black {
  font-family: fantasy;
  color: #5cefff;
  text-align: left;
}
.white {
  font-family: fantasy;
  color: white;
  text-align: center;
}
.black1 {
  font-family: fantasy;
  color: black;
  text-align: center;
  background: #b1a7a6;
}
.yes {
  border-radius: 10%;
  background: #343a40;
  color: #b1a7a6;
  text-align: center;
}
.shrink {
  font-size: smaller;
  font-family: Georgia;
}